    table {
        border-collapse: collapse;
        width: 520px;
    }
    th, td {
        border-bottom: 1px solid black;
        border: 1px solid black;
        padding: 8px;
        text-align: left;
    }
    
    .search_container {
        max-width: 520px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .container {
        width: 100%;
    }
    .user {
        width: 100%;
    }
    .search {
        outline: none;
    }
    #name, #email, #role, #action {  
        width: 25%;
    }
    #icons {
        padding-left: 10px;
    }
    a {
        padding-left: 5px;
        text-decoration: none;
        color: rgb(63, 62, 62);
    }
    #trash {
        color: rgb(233, 79, 79);
    }
    button {
        border-radius: 3px;
        border: none;
        height: 25px;
        background-color: rgb(239, 78, 105);
        color: white;
        cursor: pointer;
    }
    .delete_pagination {
        width: 520px;
        margin-top: 20px;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
    }
    .pagination a {
        font-size: 12px;
        color: white;
        padding: 10px 10px;
        border-radius: 50%;
        background-color: rgb(52, 140, 218);
    }
    .hidden {
        display: none;
    }
    .pagination {
        display: flex;
        list-style-type: none;
        padding: 0;
    }
    .pagination li {
        background-color: rgb(55, 138, 254);
        border-radius: 50%;
        padding: 5px 10px;
        margin-right: 5px;
        cursor: pointer;
        color: white;
    }
    .pagination li.active {
        background-color: white;
        border:1px solid blue;
        font-weight: bold;
        color: blue;
    }
  
  